.pad-8 {
    padding: 8px;
}

.margin-8 {
    margin: 8px;
}

.font-w400 {
    font-weight: 400;
}

.line-h40 {
    line-height: 40px;
}

.m-nav-title {
    font-weight: bold;
    font-style: italic;
    vertical-align: middle;
    font-size: 1.3rem;
}

#recent_scores > tr > th {
    padding: 6px 0 6px 0;
}

.m-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../res/ranks/texture-2.png') repeat;
    opacity: 0.2;
    z-index: -1;
}

/*
	Sticky Intro
 */
.sticky {
    position: fixed;
    top: 0;
    z-index: 99;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*
	Zoom animation
*/
.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* 
	droplet animations
*/
.droplet-stroke {
    fill: none;
    stroke: #a8abff;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.shadow {
    filter: drop-shadow(1px 1px 1px #00C4B3);
}

#banner {
    height: 182px;
}

#banner .fill {
    animation-name: fillAction;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.2, .6, .8, .4);
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#banner #waveShape {
    animation-name: waveAction;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    fill: #5d57d8;
}

@keyframes fillAction {
    0% {
        transform: translate(0, 150px);
    }
    100% {
        transform: translate(0, 150px);
    }
}

@keyframes waveAction {
    0% {
        transform: translate(-150px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

/*
 * stop zoom
 */
html {
    -webkit-text-size-adjust: none;
    font-family: 'Consolas', serif
}

/* 
 * Circle Badges
 */
.m-circle {
    width: 30px;
    height: 30px;
    background: #888;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 3px;
}

.count {
    line-height: 30px;
    color: white;
    font-size: 20px;
}

.center-table {
    text-align: center;
}

/*
 * SHARE
 */
.whatsapp {
    background: darkgreen none repeat scroll 0 0;
}

.twitter {
    background: #55acee none repeat scroll 0 0;
}

.facebook {
    background: #3b5998 none repeat scroll 0 0;
}

.email {
    background: red none repeat scroll 0 0;
}

#modal-account {
    width: 40% !important;
    height: 220px !important;
    overflow-y: hidden;
}

#btn-profile {
    color: #fff
}

#modal-share {
    width: 300px !important;
}

@media only screen and (max-width: 768px) {

    #toast-container {
        bottom: 20%;
        padding: 8px;
    }

    #modal-balance, #modal-account {
        width: 96% !important;
    }

    .fixed-action-btn {
        margin: 0 0 28px 0 !important;
    }

}

.chatbro_minimized_header {
    position: fixed !important;
    right: 130px !important;
    bottom: 8px;
    zoom: 0.7;
    margin-bottom: 0;
    margin-left: 0;
}