/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

table.scroll {
    border-spacing: 0;
}

table.scroll tbody, table.scroll thead {
    display: block;
}

table.scroll tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}